* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    background-color: black;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

canvas {
    width: 100%;
    height: 100%;
}

.container {
    position: absolute;
    justify-self: anchor-center;
    text-align: center;
    color: rgb(255, 255, 255);
    top: 17%;
    width: 31%;
    background: linear-gradient(#0000ff68, transparent);
    padding: 30px;
    border-radius: 12px;
    display: block;
    height: 75vh;
}

.container img {
    width: 90px;
    position: relative;
    top: -2%;

}

.container h1 {
    margin-top: -16px;
}

.container span {
    color: #bafff4;
    text-shadow: -2px 1px 20px #00e6ff;
}

h3 {
    margin: 10px;
}

#gunbtn {
    font-weight: 600;
    background: #3060ad;
    padding: 2px;
    width: 28%;
    border: none;
    margin-right: 5px;
    border-radius: 4px;
    transition: transform 0.1s, background-color 0.1s ease-in-out, color 0.1s ease-in-out;
    font-size: 14px;
}

#gunbtn:hover {
    transform: scale(1.1);
    background-color: #023172;
    font-weight: 100;
    color: white;
    cursor: pointer;
}

#cannonbtn {
    font-weight: 600;
    background: #2859aa;
    padding: 2px;
    width: 40%;
    border: none;
    border-radius: 4px;
    transition: transform 0.1s, background-color 0.1s ease-in-out, color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
    font-size: 14px;

}

#cannonbtn:hover {
    transform: scale(1.1);
    background-color: #023172;
    color: white;
    cursor: pointer;
}

.weapon-div h4 {
    margin-bottom: 9px;
}

#time-btn {
    font-weight: 600;
    background: #f7cc0dcf;
    padding: 2px;
    width: 40%;
    border: none;
    border-radius: 4px;
    transition: transform 0.1s, box-shadow 0.1s ease-in-out, background-color 0.1s ease-in-out;
    font-size: 14px;
    margin-top: 9px;
}

#time-btn:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.lvl-option h4 {
    margin-top: 24px;
    margin-bottom: -4px;

}

.lvl-btn {
    font-weight: 600;
    background: #2859aa;
    padding: 2px;
    width: 28%;
    border: none;
    border-radius: 4px;
    transition: transform 0.1s, background-color 0.1s ease-in-out, color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
    font-size: 14px;
    margin-top: 9px;
    column-gap: 12px;
}

.lvl-btn:hover {
    transform: scale(1.1);
    background-color: #023172;
    color: white;
    cursor: pointer;
}

#target-heading {
    margin-top: 30px;
}

.image-container img {
    width: 100%;
    height: 103.5vh;
    bottom: 0;
    image-rendering: pixelated;
    position: fixed;
    z-index: -1;
}

.image-container button {
    backdrop-filter: blur(15px);
    position: fixed;
    background: #0100c0b8;
    color: white;
    right: -39%;
    justify-self: anchor-center;
    align-self: center;
    bottom: 13%;
    font-size: 25px;
    display: block;
    width: 21%;
    border-radius: 9px;
    border: 2px solid #0100c0b8;
    ;
}

.image-container button:hover {
    cursor: pointer;
    background-color: #ddddffb8;
    border: 2px solid #0000c0;
    color: black;
}

.option-container {
    width: 100%;
    height: 103.5vh;
    background: #0000ff1a;

}

.btn-container {
    margin-top: 13px;
    margin-bottom: 12px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.weapon-div p {
    font-size: 13px;
    color: red;
    margin-top: 3px;
    display: none;
}

.mobile-msg {
    display: none;
}


/* ======================= */
#lose-situation {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-self: anchor-center;
    margin-top: -1%;
    margin-bottom: 100%;
    background: #fd80803d;
    border: 3px solid #800000;
    width: 110%;
    /* backdrop-filter: blur(17px); */
    justify-content: center;
    height: 44vh;
    border-radius: 15px;
    display: none;
}

#lose-situation p {
    align-self: anchor-center;
    font-size: 29px;
    text-align: center;
    color: #fd2929;
}


#playagainBtn2 {
    width: 26%;
    align-self: anchor-center;
    display: flex;
    position: relative;
    justify-content: center;
    top: 24%;
    color: #ffffff;
    background-color: #650000;
    border: none;
    padding: 4px;
    border-radius: 6px;
    box-shadow: 0px 1px 8px 0px #ff6161;
    transition: transform 0.1s;
}

#playagainBtn2:hover {
    transform: scale(1.05);
    cursor: pointer;
}

/* ================ */
#win-situation {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-self: anchor-center;
    margin-top: -1%;
    margin-bottom: 100%;
    background: #6fff9d3d;

    border: 3px solid green;
    width: 110%;
    /* backdrop-filter: blur(17px); */
    justify-content: center;
    height: 44vh;
    border-radius: 15px;
    display: none;
}

#win-situation p {
    align-self: anchor-center;
    font-size: 29px;
    text-align: center;
    color: #4fff4f;
}

#playagainBtn {
    width: 26%;
    align-self: anchor-center;
    display: flex;
    position: relative;
    justify-content: center;
    top: 24%;
    color: #ffffff;
    background-color: #006500;
    border: none;
    padding: 4px;
    border-radius: 6px;
    box-shadow: 0px 1px 8px 0px #61ff61;
    transition: transform 0.1s;
}

#playagainBtn:hover {
    transform: scale(1.05);
    cursor: pointer;

}



@media screen and (min-width: 0px) and (max-width: 950px) {



    .container {
        top: 4%;
        width: 44%;

    }

    .container h1 {
        margin-top: -28px;
        font-size: 28px;
    }

    .container img {
        width: 70px;
        top: -18px;
    }

    .lvl-option h4 {
        margin-top: 1px;
        margin-bottom: -4px;
    }

    #target-heading {
        margin-top: 12px;
    }

    .canvas {
        /* display: none; */
    }

    body {
        background-color: black;
    }
}


@media screen and (min-width: 0px) and (max-width:600px) {

    .image-container,
    .container,
    .canvas {
        display: none;
    }

    .mobile-first-screen::before {
        content: "";
        height: 100%;
        width: 100%;
        top: 0;
        right: 0;
        position: absolute;
        display: flex;
        background: url("mobile\ play\ the\ game.png");
        background-size: 100% 100%;
        image-rendering: pixelated;
        z-index: 2;
        opacity: 10;
    }
}
